thingweb.node-wot/
bigiot-js/
.idea/
node_modules/
dist/
output/*.json
stores/*.store
stores/*.store.old
temp.js
config.json
testing-resource/quality-config.json
testing-resource/quantity-config.json
testing-resource/offering-list.txt
testing-resource/thing-list.txt