{
  "history": {
    "period": 5000,
    "limit": 1000,
    "onDisk": true,
    "useOldValues": true
  },
  "market": {
    "marketplaceUrlForProvider": "https://market.big-iot.org/",
    "marketplaceUrlForConsumer": "https://market.big-iot.org/",
    "providerId": "YourProviderIdHere",
    "providerSecret": "YourProviderSecretHere",
    "consumerId": "YourConsumerIdHere",
    "consumerSecret": "YourConsumerSecretHere"
  },
  "gateway": {
    "host":"127.0.0.1",
    "port": 8000,
    "usePropertyFilters": true,
    "useMerge": true,
    "useAggregate": true,
    "useHistory": false
  },
  "search": {
    "cseBase": "https://www.googleapis.com/customsearch/v1?",
    "cseApiKey": "YourCustomSearchEngineApiKeyHere",
    "cseCx": "YourCustomSearchEngineCxHere",
    "maxSuggestions": 10
  },
  "keepOfferings": false,
  "offeringConversionStrategy": "PROVIDER_TO_THING",
  "moreLogs": true
}